body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 200px;
    padding: 10px;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.main{
    align-items: center;
}

footer {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 10px;
}